<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnair.pay.db.dao.mapper.ProfitsharingOrderMapper" >
  <resultMap id="BaseResultMap" type="com.hnair.pay.db.entity.ProfitsharingOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sharing_order_no" property="sharingOrderNo" jdbcType="VARCHAR" />
    <result column="sharing_trade_no" property="sharingTradeNo" jdbcType="VARCHAR" />
    <result column="bus_pay_no" property="busPayNo" jdbcType="VARCHAR" />
    <result column="bus_channel" property="busChannel" jdbcType="VARCHAR" />
    <result column="bus_order_no" property="busOrderNo" jdbcType="VARCHAR" />
    <result column="bus_type" property="busType" jdbcType="VARCHAR" />
    <result column="trade_pay_no" property="tradePayNo" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="INTEGER" />
    <result column="sharing_account_type" property="sharingAccountType" jdbcType="VARCHAR" />
    <result column="sharing_account" property="sharingAccount" jdbcType="VARCHAR" />
    <result column="sharing_fee" property="sharingFee" jdbcType="INTEGER" />
    <result column="platform_sharing_fee" property="platformSharingFee" jdbcType="INTEGER" />
    <result column="other_sharing_fee" property="otherSharingFee" jdbcType="INTEGER" />
    <result column="sharing_fee_type" property="sharingFeeType" jdbcType="VARCHAR" />
    <result column="sharing_desc" property="sharingDesc" jdbcType="VARCHAR" />
    <result column="sharing_send_time" property="sharingSendTime" jdbcType="TIMESTAMP" />
    <result column="sharing_success_time" property="sharingSuccessTime" jdbcType="TIMESTAMP" />
    <result column="failure_reason" property="failureReason" jdbcType="VARCHAR" />
    <result column="hotel_id" property="hotelId" jdbcType="VARCHAR" />
    <result column="sub_mch_id" property="subMchId" jdbcType="VARCHAR" />
    <result column="op_user_id" property="opUserId" jdbcType="VARCHAR" />
    <result column="sharing_status" property="sharingStatus" jdbcType="TINYINT" />
    <result column="send_status" property="sendStatus" jdbcType="TINYINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="sharing_type" property="sharingType" jdbcType="TINYINT" />
    <result column="sharing_receivers" property="sharingReceivers" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sharing_order_no, sharing_trade_no, bus_pay_no, bus_channel, bus_order_no, bus_type, 
    trade_pay_no, total_fee, sharing_account_type, sharing_account, sharing_fee, platform_sharing_fee, 
    other_sharing_fee, sharing_fee_type, sharing_desc, sharing_send_time, sharing_success_time, 
    failure_reason, hotel_id, sub_mch_id, op_user_id, sharing_status, send_status, num, 
    update_time, create_time, sharing_type, sharing_receivers
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hnair.pay.db.entity.ProfitsharingOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from profitsharing_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from profitsharing_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from profitsharing_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hnair.pay.db.entity.ProfitsharingOrderExample" >
    delete from profitsharing_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hnair.pay.db.entity.ProfitsharingOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into profitsharing_order (sharing_order_no, sharing_trade_no, bus_pay_no, 
      bus_channel, bus_order_no, bus_type, 
      trade_pay_no, total_fee, sharing_account_type, 
      sharing_account, sharing_fee, platform_sharing_fee, 
      other_sharing_fee, sharing_fee_type, sharing_desc, 
      sharing_send_time, sharing_success_time, 
      failure_reason, hotel_id, sub_mch_id, 
      op_user_id, sharing_status, send_status, 
      num, update_time, create_time, 
      sharing_type, sharing_receivers)
    values (#{sharingOrderNo,jdbcType=VARCHAR}, #{sharingTradeNo,jdbcType=VARCHAR}, #{busPayNo,jdbcType=VARCHAR}, 
      #{busChannel,jdbcType=VARCHAR}, #{busOrderNo,jdbcType=VARCHAR}, #{busType,jdbcType=VARCHAR}, 
      #{tradePayNo,jdbcType=VARCHAR}, #{totalFee,jdbcType=INTEGER}, #{sharingAccountType,jdbcType=VARCHAR}, 
      #{sharingAccount,jdbcType=VARCHAR}, #{sharingFee,jdbcType=INTEGER}, #{platformSharingFee,jdbcType=INTEGER}, 
      #{otherSharingFee,jdbcType=INTEGER}, #{sharingFeeType,jdbcType=VARCHAR}, #{sharingDesc,jdbcType=VARCHAR}, 
      #{sharingSendTime,jdbcType=TIMESTAMP}, #{sharingSuccessTime,jdbcType=TIMESTAMP}, 
      #{failureReason,jdbcType=VARCHAR}, #{hotelId,jdbcType=VARCHAR}, #{subMchId,jdbcType=VARCHAR}, 
      #{opUserId,jdbcType=VARCHAR}, #{sharingStatus,jdbcType=TINYINT}, #{sendStatus,jdbcType=TINYINT}, 
      #{num,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{sharingType,jdbcType=TINYINT}, #{sharingReceivers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnair.pay.db.entity.ProfitsharingOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into profitsharing_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sharingOrderNo != null" >
        sharing_order_no,
      </if>
      <if test="sharingTradeNo != null" >
        sharing_trade_no,
      </if>
      <if test="busPayNo != null" >
        bus_pay_no,
      </if>
      <if test="busChannel != null" >
        bus_channel,
      </if>
      <if test="busOrderNo != null" >
        bus_order_no,
      </if>
      <if test="busType != null" >
        bus_type,
      </if>
      <if test="tradePayNo != null" >
        trade_pay_no,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="sharingAccountType != null" >
        sharing_account_type,
      </if>
      <if test="sharingAccount != null" >
        sharing_account,
      </if>
      <if test="sharingFee != null" >
        sharing_fee,
      </if>
      <if test="platformSharingFee != null" >
        platform_sharing_fee,
      </if>
      <if test="otherSharingFee != null" >
        other_sharing_fee,
      </if>
      <if test="sharingFeeType != null" >
        sharing_fee_type,
      </if>
      <if test="sharingDesc != null" >
        sharing_desc,
      </if>
      <if test="sharingSendTime != null" >
        sharing_send_time,
      </if>
      <if test="sharingSuccessTime != null" >
        sharing_success_time,
      </if>
      <if test="failureReason != null" >
        failure_reason,
      </if>
      <if test="hotelId != null" >
        hotel_id,
      </if>
      <if test="subMchId != null" >
        sub_mch_id,
      </if>
      <if test="opUserId != null" >
        op_user_id,
      </if>
      <if test="sharingStatus != null" >
        sharing_status,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sharingType != null" >
        sharing_type,
      </if>
      <if test="sharingReceivers != null" >
        sharing_receivers,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sharingOrderNo != null" >
        #{sharingOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="sharingTradeNo != null" >
        #{sharingTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="busPayNo != null" >
        #{busPayNo,jdbcType=VARCHAR},
      </if>
      <if test="busChannel != null" >
        #{busChannel,jdbcType=VARCHAR},
      </if>
      <if test="busOrderNo != null" >
        #{busOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="tradePayNo != null" >
        #{tradePayNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="sharingAccountType != null" >
        #{sharingAccountType,jdbcType=VARCHAR},
      </if>
      <if test="sharingAccount != null" >
        #{sharingAccount,jdbcType=VARCHAR},
      </if>
      <if test="sharingFee != null" >
        #{sharingFee,jdbcType=INTEGER},
      </if>
      <if test="platformSharingFee != null" >
        #{platformSharingFee,jdbcType=INTEGER},
      </if>
      <if test="otherSharingFee != null" >
        #{otherSharingFee,jdbcType=INTEGER},
      </if>
      <if test="sharingFeeType != null" >
        #{sharingFeeType,jdbcType=VARCHAR},
      </if>
      <if test="sharingDesc != null" >
        #{sharingDesc,jdbcType=VARCHAR},
      </if>
      <if test="sharingSendTime != null" >
        #{sharingSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharingSuccessTime != null" >
        #{sharingSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failureReason != null" >
        #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="subMchId != null" >
        #{subMchId,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null" >
        #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="sharingStatus != null" >
        #{sharingStatus,jdbcType=TINYINT},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharingType != null" >
        #{sharingType,jdbcType=TINYINT},
      </if>
      <if test="sharingReceivers != null" >
        #{sharingReceivers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hnair.pay.db.entity.ProfitsharingOrderExample" resultType="java.lang.Integer" >
    select count(*) from profitsharing_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update profitsharing_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sharingOrderNo != null" >
        sharing_order_no = #{record.sharingOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingTradeNo != null" >
        sharing_trade_no = #{record.sharingTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.busPayNo != null" >
        bus_pay_no = #{record.busPayNo,jdbcType=VARCHAR},
      </if>
      <if test="record.busChannel != null" >
        bus_channel = #{record.busChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.busOrderNo != null" >
        bus_order_no = #{record.busOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.busType != null" >
        bus_type = #{record.busType,jdbcType=VARCHAR},
      </if>
      <if test="record.tradePayNo != null" >
        trade_pay_no = #{record.tradePayNo,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=INTEGER},
      </if>
      <if test="record.sharingAccountType != null" >
        sharing_account_type = #{record.sharingAccountType,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingAccount != null" >
        sharing_account = #{record.sharingAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingFee != null" >
        sharing_fee = #{record.sharingFee,jdbcType=INTEGER},
      </if>
      <if test="record.platformSharingFee != null" >
        platform_sharing_fee = #{record.platformSharingFee,jdbcType=INTEGER},
      </if>
      <if test="record.otherSharingFee != null" >
        other_sharing_fee = #{record.otherSharingFee,jdbcType=INTEGER},
      </if>
      <if test="record.sharingFeeType != null" >
        sharing_fee_type = #{record.sharingFeeType,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingDesc != null" >
        sharing_desc = #{record.sharingDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingSendTime != null" >
        sharing_send_time = #{record.sharingSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sharingSuccessTime != null" >
        sharing_success_time = #{record.sharingSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.failureReason != null" >
        failure_reason = #{record.failureReason,jdbcType=VARCHAR},
      </if>
      <if test="record.hotelId != null" >
        hotel_id = #{record.hotelId,jdbcType=VARCHAR},
      </if>
      <if test="record.subMchId != null" >
        sub_mch_id = #{record.subMchId,jdbcType=VARCHAR},
      </if>
      <if test="record.opUserId != null" >
        op_user_id = #{record.opUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.sharingStatus != null" >
        sharing_status = #{record.sharingStatus,jdbcType=TINYINT},
      </if>
      <if test="record.sendStatus != null" >
        send_status = #{record.sendStatus,jdbcType=TINYINT},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sharingType != null" >
        sharing_type = #{record.sharingType,jdbcType=TINYINT},
      </if>
      <if test="record.sharingReceivers != null" >
        sharing_receivers = #{record.sharingReceivers,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update profitsharing_order
    set id = #{record.id,jdbcType=INTEGER},
      sharing_order_no = #{record.sharingOrderNo,jdbcType=VARCHAR},
      sharing_trade_no = #{record.sharingTradeNo,jdbcType=VARCHAR},
      bus_pay_no = #{record.busPayNo,jdbcType=VARCHAR},
      bus_channel = #{record.busChannel,jdbcType=VARCHAR},
      bus_order_no = #{record.busOrderNo,jdbcType=VARCHAR},
      bus_type = #{record.busType,jdbcType=VARCHAR},
      trade_pay_no = #{record.tradePayNo,jdbcType=VARCHAR},
      total_fee = #{record.totalFee,jdbcType=INTEGER},
      sharing_account_type = #{record.sharingAccountType,jdbcType=VARCHAR},
      sharing_account = #{record.sharingAccount,jdbcType=VARCHAR},
      sharing_fee = #{record.sharingFee,jdbcType=INTEGER},
      platform_sharing_fee = #{record.platformSharingFee,jdbcType=INTEGER},
      other_sharing_fee = #{record.otherSharingFee,jdbcType=INTEGER},
      sharing_fee_type = #{record.sharingFeeType,jdbcType=VARCHAR},
      sharing_desc = #{record.sharingDesc,jdbcType=VARCHAR},
      sharing_send_time = #{record.sharingSendTime,jdbcType=TIMESTAMP},
      sharing_success_time = #{record.sharingSuccessTime,jdbcType=TIMESTAMP},
      failure_reason = #{record.failureReason,jdbcType=VARCHAR},
      hotel_id = #{record.hotelId,jdbcType=VARCHAR},
      sub_mch_id = #{record.subMchId,jdbcType=VARCHAR},
      op_user_id = #{record.opUserId,jdbcType=VARCHAR},
      sharing_status = #{record.sharingStatus,jdbcType=TINYINT},
      send_status = #{record.sendStatus,jdbcType=TINYINT},
      num = #{record.num,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      sharing_type = #{record.sharingType,jdbcType=TINYINT},
      sharing_receivers = #{record.sharingReceivers,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnair.pay.db.entity.ProfitsharingOrder" >
    update profitsharing_order
    <set >
      <if test="sharingOrderNo != null" >
        sharing_order_no = #{sharingOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="sharingTradeNo != null" >
        sharing_trade_no = #{sharingTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="busPayNo != null" >
        bus_pay_no = #{busPayNo,jdbcType=VARCHAR},
      </if>
      <if test="busChannel != null" >
        bus_channel = #{busChannel,jdbcType=VARCHAR},
      </if>
      <if test="busOrderNo != null" >
        bus_order_no = #{busOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        bus_type = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="tradePayNo != null" >
        trade_pay_no = #{tradePayNo,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="sharingAccountType != null" >
        sharing_account_type = #{sharingAccountType,jdbcType=VARCHAR},
      </if>
      <if test="sharingAccount != null" >
        sharing_account = #{sharingAccount,jdbcType=VARCHAR},
      </if>
      <if test="sharingFee != null" >
        sharing_fee = #{sharingFee,jdbcType=INTEGER},
      </if>
      <if test="platformSharingFee != null" >
        platform_sharing_fee = #{platformSharingFee,jdbcType=INTEGER},
      </if>
      <if test="otherSharingFee != null" >
        other_sharing_fee = #{otherSharingFee,jdbcType=INTEGER},
      </if>
      <if test="sharingFeeType != null" >
        sharing_fee_type = #{sharingFeeType,jdbcType=VARCHAR},
      </if>
      <if test="sharingDesc != null" >
        sharing_desc = #{sharingDesc,jdbcType=VARCHAR},
      </if>
      <if test="sharingSendTime != null" >
        sharing_send_time = #{sharingSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharingSuccessTime != null" >
        sharing_success_time = #{sharingSuccessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failureReason != null" >
        failure_reason = #{failureReason,jdbcType=VARCHAR},
      </if>
      <if test="hotelId != null" >
        hotel_id = #{hotelId,jdbcType=VARCHAR},
      </if>
      <if test="subMchId != null" >
        sub_mch_id = #{subMchId,jdbcType=VARCHAR},
      </if>
      <if test="opUserId != null" >
        op_user_id = #{opUserId,jdbcType=VARCHAR},
      </if>
      <if test="sharingStatus != null" >
        sharing_status = #{sharingStatus,jdbcType=TINYINT},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sharingType != null" >
        sharing_type = #{sharingType,jdbcType=TINYINT},
      </if>
      <if test="sharingReceivers != null" >
        sharing_receivers = #{sharingReceivers,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnair.pay.db.entity.ProfitsharingOrder" >
    update profitsharing_order
    set sharing_order_no = #{sharingOrderNo,jdbcType=VARCHAR},
      sharing_trade_no = #{sharingTradeNo,jdbcType=VARCHAR},
      bus_pay_no = #{busPayNo,jdbcType=VARCHAR},
      bus_channel = #{busChannel,jdbcType=VARCHAR},
      bus_order_no = #{busOrderNo,jdbcType=VARCHAR},
      bus_type = #{busType,jdbcType=VARCHAR},
      trade_pay_no = #{tradePayNo,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=INTEGER},
      sharing_account_type = #{sharingAccountType,jdbcType=VARCHAR},
      sharing_account = #{sharingAccount,jdbcType=VARCHAR},
      sharing_fee = #{sharingFee,jdbcType=INTEGER},
      platform_sharing_fee = #{platformSharingFee,jdbcType=INTEGER},
      other_sharing_fee = #{otherSharingFee,jdbcType=INTEGER},
      sharing_fee_type = #{sharingFeeType,jdbcType=VARCHAR},
      sharing_desc = #{sharingDesc,jdbcType=VARCHAR},
      sharing_send_time = #{sharingSendTime,jdbcType=TIMESTAMP},
      sharing_success_time = #{sharingSuccessTime,jdbcType=TIMESTAMP},
      failure_reason = #{failureReason,jdbcType=VARCHAR},
      hotel_id = #{hotelId,jdbcType=VARCHAR},
      sub_mch_id = #{subMchId,jdbcType=VARCHAR},
      op_user_id = #{opUserId,jdbcType=VARCHAR},
      sharing_status = #{sharingStatus,jdbcType=TINYINT},
      send_status = #{sendStatus,jdbcType=TINYINT},
      num = #{num,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      sharing_type = #{sharingType,jdbcType=TINYINT},
      sharing_receivers = #{sharingReceivers,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>